body {
  background-color: #dee2e6;

}

table.dataTable thead {
  background: #007bff;
  color: white;
}

.box {
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}